.about-me {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about-me__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-me__content {
  display: flex;
  align-items: center;
}

.about-me__image-container {
  flex: 0 0 auto;
  margin-right: 20px;
}

.about-me__image {
  width: 200px; /* Adjust the width as needed */
  height: auto;
}

.about-me__text {
  flex: 1;
}

.about-me__content p {
  margin-bottom: 15px;
}
